In [1]:
#import libraries to use

import pandas as pd
import numpy as np

In [47]:
buyer_data = pd.read_csv('Buyers_RAW.csv',low_memory = False)

In [48]:
buyer_data.head()

   month  year  user_id currency  count revenue    Date       USD Per Purchase
0      6  2015  1154979      GBP      2   37.29   20156    55.94        27.97
1     10  2015  2677378      GBP      1      17  201510    25.50        25.50
2      9  2015   546489      GBP      3   118.5   20159   177.76        59.25
3      8  2015   846185      GBP      4   66.79   20158   100.19        25.05
4      6  2015  2099822      GBP      2   29.98   20156    44.97        22.49

In [49]:
cohort = buyer_data.groupby('user_id',as_index = False)['month'].min()

In [50]:
cohort = pd.DataFrame(cohort)

In [51]:
df = pd.merge(buyer_data,cohort,left_on = 'user_id', right_on = 'user_id')

In [53]:
df.columns = ['month','year','user_id','currency','count','revenue','Date','USD',
               'Per Purchase','cohort']

In [54]:
df.head()

,month,year,user_id,currency,count,revenue,Date,USD,Per Purchase,cohort
0,6,2015,1154979,GBP,2,37.29,20156,55.94,27.97,5
1,5,2015,1154979,GBP,2,10,20155,15.00,7.50,5
2,10,2015,2677378,GBP,1,17,201510,25.50,25.50,10
3,9,2015,546489,GBP,3,118.5,20159,177.76,59.25,8
4,8,2015,546489,GBP,1,17.8,20158,26.70,26.70,8

In [57]:
cohort_analysis = df.groupby(['user_id','cohort','month'],as_index = False)['revenue'].sum()

In [58]:
cohort_analysis

        user_id  cohort  month revenue
0             6      10     10   71.49
1            19       9      9    22.1
2            30       2      2      20
3            30       2      4   14.32
4            30       2      8      10
5            45       4      4      80
6            58       3      3       8
7            86       4      4      20
8            86       4      5   49.99
9            86       4     10      57
10          103      10     10    0.35
11          169       2      2      36
12          199       1      1      10
13          220       6      6      20
14          314       3      3      54
15          314       3      7      22
16          323       5      5    18.5
17          434       6      6      35
18          488       8      8      65
19          536       4      4      50
20          614       9      9      15
21          700       4      4     199
22          725       1      1   118.5
23          725       1      2    36.9
24          725       1      5      76
25          725       1      6      90
26          725       1     10      42
27          762       8      8      38
28          853       9      9      44
29          861      10     10      80
...         ...     ...    ...     ...
455026  2792479      10     10      14
455027  2792507      10     10      41
455028  2792608      10     10      20
455029  2792632      10     10    13.3
455030  2792653      10     10    67.5
455031  2792736      10     10      13
455032  2792739      10     10      10
455033  2792756      10     10      15
455034  2792786      10     10      20
455035  2792826      10     10       1
455036  2792887      10     10      30
455037  2793005      10     10      32
455038  2793006      10     10   16.99
455039  2793022      10     10       9
455040  2793031      10     10       8
455041  2793149      10     10    0.03
455042  2793152      10     10      18
455043  2793239      10     10      10
455044  2793261      10     10      25
455045  2793278      10     10   11.99
455046  2793323      10     10       7
455047  2793384      10     10      20
455048  2793407      10     10    33.5
455049  2793493      10     10    15.5
455050  2793536      10     10      40
455051  2793543      10     10   35.49
455052  2793575      10     10      16
455053  2793604      10     10    16.8
455054  2793736      10     10       5
455055  2793769      10     10      23

[455056 rows x 4 columns]